* {
    padding: 0;
    margin: 0;
}

#render_area {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    width: 320px;
    height: 460px;
    top: 0px;
    left: 0px;
    background-color:#eee;
    position: relative;
}

#hover {
    opacity: 0.8;
    background-color: #ffb;
    border: 1px solid #666;
    height: 200px;
    width: 400px;
    position: absolute;
    z-index : 200;
}

#detail_table, td {
    border : 1px solid #555;
    padding: 5px;
}

.detail_table {
    width: 100px;
}

.background_image {
    position: absolute;
    top: 0px;
    left:0px;
    width: 320px;
    height: 460px;
}

#page-buttons {
    position: absolute; 
    top: 0px; 
    left: 0px;
    height: 65px;
    width: 320px;
    overflow: scroll;
}


.page_button {
    height: 62px;
    width: 60px;
    font-size: 14px;
    /*padding: 8px 14px 9px;*/
}

.page_button_background
{
    position:absolute;
    top: 0px;
    left: 0px;
    height: 62px;
    width: 62px;
}

.page_button_label {
    position:absolute;
    height: 62px;
    width: 62px;
    top: 0px;
    left: 0px;
    line-height : 62px;
    text-align: center;
    color: #fff;
}


.page {
    position: absolute;
    top: 67px;
    left:0px;
    width: 320px;
    height: 373px;
}

.button {
    position: absolute;
    text-align: center;
    display: inline-block;
    /*padding: 5px 10px 6px;*/
    color: white;
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 0px #202020, -1px -1px 0px #555;/* 0 1px 3px rgba(0, 0, 0, 0.5);
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #000; */

    /*background-image: -webkit-gradient(
        linear,
        left bottom,
	left top,
	color-stop(0.38, rgb(36,36,36)),
	color-stop(0.69, rgb(84,84,84)));*/
    background-image: -webkit-linear-gradient(rgb(74,74,74), rgb(46,46,46));

}

.shape_rect {
    -webkit-border-radius: 0px;
}

.shape_rounded {
    -webkit-border-radius: 5px;
}


.button_bg_image {
    position: absolute;
    border : 0;
    top:0px;
    left:0px;
}

.button_icon_image {
    position:relative;
}

.button_label {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.label {
    position: absolute;
    text-align: center;
    color : #fff;
}

